@media (max-width: 768px) {
    .team-text {
        margin-bottom: 20px; /* Add space between team members on smaller screens */
    }
}
/* @media (max-width: 576px) {
    .team-text {
        text-align: center; 
        display: grid;
    }

    .follow {
        display: flex;
        justify-content: center; /* Center the follow buttons */
    }
} */
